@using Microsoft.AspNet.Identity;
@model SocialMegazord2._0.Models.Post

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Event Options</title>
</head>
<body>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "profile_div" }))
    {
        @Html.AntiForgeryToken()
        <div id="profile_div">
            <ul class="profile-wrapper">
                <li>
                    <div class="profile">
                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Home", new { area = "" }, new { @class = "name" })
                        <ul class="menu">
                            @if (User.IsInRole("Admin"))
                            {
                                <li>
                                    <a id="page_settings" href="#">Admin Functionalities</a>
                                    <div class="horizontal_menu">
                                        <ul>
                                            <li>@Html.ActionLink("Edit Users", "EditUsers", "User", null, htmlAttributes: new { id = "editUsersLink" })</li>
                                            <li>@Html.ActionLink("Edit Posts", "EditPosts", "User", null, new { area = "", value = "editPostsLink" })</li>
                                            <li>@Html.ActionLink("Edit Events", "EditEvents", "User", null, htmlAttributes: new { id = "editEventsLink" })</li>
                                        </ul>
                                    </div>
                                </li>
                            }
                            <li>
                                <a id="page_settings" href="#">My Profile</a>
                                <div class="horizontal_menu">
                                    <ul>
                                        <li>@Html.ActionLink("Interests", "Interests", "Manage", null, new { area = "", value = "Interests" })</li>
                                        <li>@Html.ActionLink("Events", "List", "Event", routeValues: null, htmlAttributes: new { id = "eventsLink" })</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a id="page_settings" href="#">Settings</a>
                                <div class="horizontal_menu" hidden>
                                    <ul>
                                        <li>@Html.ActionLink("Change Password", "Change Password", "Manage", new { area = "" })</li>
                                        <li>@Html.ActionLink("Change Username", "Change Username", "Manage", new { area = "" })</li>
                                    </ul>
                                </div>
                            </li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                            {
                                <li><a href="javascript:document.getElementById('profile_div').submit()">Log Off</a></li>
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    }
    <div id="contents">
        @Html.ActionLink(" ", "Entertainment", "Comunities", null, new { @id = "button1", @class = "button button1" })
        @Html.ActionLink(" ", "Science", "Comunities", null, new { @id = "button3", @class = "button button3" })
        @Html.ActionLink(" ", "MutualHelp", "Comunities", null, new { @id = "button2", @class = "button button2" })
    </div>
    <div id="navMyProfile">
        <ul class="navUL">
            <li class="navLi">@Html.ActionLink("Create New Post", "Create", "Post", null, new { @area = "" })</li>
            <li class="navLi">@Html.ActionLink("Create New Event", "Create", "Event", null, new { @area = "" })</li>
        </ul>
    </div>

    @*@using (Html.BeginForm("Options", "Post", FormMethod.Post))
    {*@
        <div class="article_containter">
            <article>
                <div class="row">
                   <h2>@Model.Title</h2>
                    <small class="author">@Model.Author.Name</small>
                    <small class="author">@Model.DateAdded</small>
                    <small class="author">@Model.Communities.Name</small>
                    <div class="article_position" style="color: black">
                        @Model.Content
                    </div>
                    <footer class="article_footer">
                        @Html.ActionLink("Edit", "Edit", "Post", new { @id = Model.Id }, new { @type = "submit", @class = "submitButtons" })
                        @Html.ActionLink("Cancel", "Entertainment", "Comunities", null, new { @type = "button", @class = "submitButtons" })
                        @using (Html.BeginForm("Delete", "Post", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("id", Model.Id)
                            <input type="submit" value="Delete" class="submitButtons" />
                        }
                    </footer>
                </div>
            </article>
        </div>
    
    <footer>
        <div class="the_footer">
            <h3>© 2016 - SocialMegazord inc.</h3>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/coolchange")
</body>

</html>
