@using Microsoft.AspNet.Identity;
@model List<SocialMegazord2._0.Models.ApplicationUser>
    @{ 
        ViewBag.Title = "EditUsers";
    }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Events</title>
</head>
<body>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "profile_div" }))
    {
        @Html.AntiForgeryToken()
        <div id="profile_div">
            <ul class="profile-wrapper">
                <li>
                    <div class="profile">
                        @Html.ActionLink(User.Identity.Name, "Index", "Home", null, new { area = "", @class = "name" })
                        <ul class="menu">
                            <li>
                                <a id="page_settings" href="#">My Profile</a>
                                <div class="horizontal_menu">
                                    <ul>
                                        <li>@Html.ActionLink("Interests", "Interests", "Manage", new { area = "", value = "Interests" })</li>
                                        <li>@Html.ActionLink("Events", "List", "Event", routeValues: null, htmlAttributes: new { id = "eventsLink" })</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a id="page_settings">@Html.ActionLink("Setting", "Index", "Manage")</a>
                                <div class="horizontal_menu" hidden>
                                    <ul>
                                        <li>@Html.ActionLink("Change Password", "Change Password", "Manage", new { area = "" })</li>
                                        <li>@Html.ActionLink("Change User's Name", "Change Username", "Manage", new { area = "" })</li>
                                    </ul>
                                </div>
                            </li>
                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                            {
                                <li><a href="javascript:document.getElementById('profile_div').submit()">Log Off</a></li>
                            }
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    }
    <div id="contents">
        @Html.ActionLink(" ", "Entertainment", "Comunities", null, new { @id = "button1", @class = "button button1" })
        @Html.ActionLink(" ", "Science", "Comunities", null, new { @id = "button3", @class = "button button3" })
        @Html.ActionLink(" ", "MutualHelp", "Comunities", null, new { @id = "button2", @class = "button button2" })
    </div>
    <div id="navMyProfile">
        <ul class="navUL">
            <li class="navLi">@Html.ActionLink("Edit Events", "EditEvents", "User", null, new { @area = "" })</li>
            <li class="navLi">@Html.ActionLink("Edit Posts", "EditPosts", "User", null, new { @area = "" })</li>
        </ul>
    </div>
    @using (Html.BeginForm("List", "User", FormMethod.Post))
    {
        <div class="article_containter">
            @foreach (var item in Model)
            {
 
                <article>
                    <div class="row">
                        <p>@item.Name</p>
                        </div>
                        <footer>
                            @*<a href="eventOptions.html"><button cl
                                <div class="article_containter">
                                   ass="submitButtons">Options &raquo;</button></a>*@
                            @Html.ActionLink("Delete", "Delete", "User", new { @id = item.Id }, new { @type = "button", @class = "submitButtons" })
                            @Html.ActionLink("Edit", "Edit", "User", new { @id = item.Id }, new { @type = "button", @class = "submitButtons" })                        </footer>
               </article>
            }
        </div>

    }

    <footer>
        <div class="the_footer">
            <h3>© 2016 - SocialMegazord inc.</h3>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/coolchange")
</body>



</html>
