@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "profile_div" }))
    {
        @Html.AntiForgeryToken()
        <div id="profile_div">
            <ul class="profile-wrapper">
                <li>
                    <div class="profile">
                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Home", new { area = "" }, new { @class = "name" })
                        <ul class="menu">
                            <li>
                                <a id="page_settings" href="#">My Profile</a>
                                <div class="horizontal_menu">
                                    <ul>
                                        <li>@Html.ActionLink("Interests", "Interests", "Manage", new { area = "", value = "Interests" })</li>
                                        <li>@Html.ActionLink("My Events", "Events", "Manage", new { area = "", value = "My Events" })</li>
                                        <li>@Html.ActionLink("My Videos", "Videos", "Manage", new { area = "", value = "My Videos" })</li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a id="page_settings" href="#">Settings</a>
                                <div class="horizontal_menu" hidden>
                                    <ul>
                                        <li>@Html.ActionLink("Change Password", "Change Password", "Manage", new { area = "" })</li>
                                        <li>@Html.ActionLink("Change Username", "Change Username", "Manage", new { area = "" })</li>
                                    </ul>
                                </div>
                            </li>
                            <li>@Html.ActionLink("Log Out", "Log Out", "Manage", new { area = "" })</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    }
}
else
{
    <div id="profile_div">
        <ul class="profile-wrapper">
            <li>
                <div class="profile">
                    <a href="#" class="name">Register/Login</a>
                    <ul class="menu">
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
}