@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Entertainment";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../Content/communities.css">
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <title>Science</title>
</head>
<style>
    body {
        background-image: url("../../Content/Images/entertainment.jpg");
        position: relative;
        background-color: white;
        background-size: cover;
    }
</style>
<body>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "profile_div" }))
        {
            @Html.AntiForgeryToken()
            <div id="profile_div">
                <ul class="profile-wrapper">
                    <li>
                        <div class="profile">
                            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Home", new { area = "" }, new { @class = "name" })
                            <ul class="menu">
                                <li>
                                    <a id="page_settings" href="#">My Profile</a>
                                    <div class="horizontal_menu">
                                        <ul>
                                            <li>@Html.ActionLink("Interests", "Interests", "Manage", new { area = "", value = "Interests" })</li>
                                            <li>@Html.ActionLink("Events", "List", "Event", routeValues: null, htmlAttributes: new { id = "eventsLink" })</li>
                                            <li>@Html.ActionLink("My Videos", "Videos", "Manage", new { area = "", value = "My Videos" })</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a id="page_settings" href="#">Settings</a>
                                    <div class="horizontal_menu" hidden>
                                        <ul>
                                            <li>@Html.ActionLink("Change Password", "Change Password", "Manage", new { area = "" })</li>
                                            <li>@Html.ActionLink("Change Username", "Change Username", "Manage", new { area = "" })</li>
                                        </ul>
                                    </div>
                                </li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                {
                                    <li><a href="javascript:document.getElementById('profile_div').submit()">Log Off</a></li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="navMyProfile">
                <ul class="navUL">
                    <li class="navLi"><a href="createnewpost.html">Create New Post</a></li>
                    <li class="navLi"><a href="createNewEvent.html">Create New Event</a></li>
                    <li class="navLi">@Html.ActionLink("Events", "List", "Event", routeValues: null, htmlAttributes: new { id = "eventsLink"})</li>
                </ul>
            </div>
        }
    }
    else
    {
        <div id="profile_div">
            <ul class="profile-wrapper">
                <li>
                    <div class="profile">
                        <a href="#" class="name">Register/Login</a>
                        <ul class="menu">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    }


    <div class="article_containter">
        <article>
            <div class="row">
                <h2>Header</h2>
                <small class="author">Bogdan Alov</small>
                <small class="author">24/11/2016 4:20 </small>
                <div class="article_position">
                    There's been a fair bit of hype surrounding the latest SpaceX upright rocket landing. Simple as it seems, the excitement Sci-Fi Today, Reality TV Tomorrow, at least for me, stems from how the feat has brought us one step closer to fulfilling our sci-fi fantasies - etched into our minds by the many blockbuster flicks Hollywood has produced. If you can recall one of the opening scenes of The Martian, we witnessed the Mars Ascent Vehicle (MAV) lifting off, attempting to escape an ensuing dust storm. While most of the focus was on the misfortune of Mark Watney - played by Matt Damon, left behind after being struck by debris, you could say we took for granted how easily the MAV ascended into space. Combine the thought of how the MAV got there in the first place, and you have yourself a similar parallel to the SpaceX launch and landing. So what am I gettination. This applies not just to space travel, but every other area of technological advancement.
                </div>
                <footer>
                    <a href="postOptions.html"><button class="submitButtons">Options &raquo;</button></a>
                </footer>
            </div>
        </article>
        <article>
            <div class="row">
                <h2>Header</h2>
                <small class="author">Bogdan Alov</small>
                <small class="author">24/11/2016 4:20 </small>
                <div class="article_position">
                    There's been a fair bit of hype surrounding the latest SpaceX upright rocket landing. Simple as it seems, the excitement Sci-Fi Today, Reality TV Tomorrow, at least for me, stems from how the feat has brought us one step closer to fulfilling our sci-fi fantasies - etched into our minds by the many blockbuster flicks Hollywood has produced. If you can recall one of the opening scenes of The Martian, we witnessed the Mars Ascent Vehicle (MAV) lifting off, attempting to escape an ensuing dust storm. While most of the focus was on the misfortune of Mark Watney - played by Matt Damon, left behind after being struck by debris, you could say we took for granted how easily the MAV ascended into space. Combine the thought of how the MAV got there in the first place, and you have yourself a similar parallel to the SpaceX launch and landing. So what am I gettination. This applies not just to space travel, but every other area of technological advancement.
                </div>
                <footer>
                    <a href="postOptions.html"><button class="submitButtons">Options &raquo;</button></a>
                </footer>
            </div>
        </article>
        <article>
            <div class="row">
                <h2>Header</h2>
                <small class="author">Bogdan Alov</small>
                <small class="author">24/11/2016 4:20 </small>
                <div class="article_position">
                    There's been a fair bit of hype surrounding the latest SpaceX upright rocket landing. Simple as it seems, the excitement Sci-Fi Today, Reality TV Tomorrow, at least for me, stems from how the feat has brought us one step closer to fulfilling our sci-fi fantasies - etched into our minds by the many blockbuster flicks Hollywood has produced. If you can recall one of the opening scenes of The Martian, we witnessed the Mars Ascent Vehicle (MAV) lifting off, attempting to escape an ensuing dust storm. While most of the focus was on the misfortune of Mark Watney - played by Matt Damon, left behind after being struck by debris, you could say we took for granted how easily the MAV ascended into space. Combine the thought of how the MAV got there in the first place, and you have yourself a similar parallel to the SpaceX launch and landing. So what am I gettination. This applies not just to space travel, but every other area of technological advancement.
                </div>
                <footer>
                    <a href="postOptions.html"><button class="submitButtons">Options &raquo;</button></a>
                </footer>
            </div>
        </article>
    </div>
    <footer>
        <div class="the_footer">
            <h3>© 2016 - SocialMegazord inc.</h3>
        </div>
    </footer>
    <div id="contents">
        @Html.ActionLink(" ", "Entertainment", "Comunities", null, new { @id = "button1", @class = "button button1" })
        @Html.ActionLink(" ", "Science", "Comunities", null, new { @id = "button3", @class = "button button3" })
        @Html.ActionLink(" ", "MutualHelp", "Comunities", null, new { @id = "button2", @class = "button button2" })
    </div>

    <script src="scripts/backgroundChange.js"></script>
</body>

</html>
