@using Microsoft.AspNet.Identity;
@model List<SocialMegazord2._0.Models.Post>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../../Content/communities.css">
    <script src="scripts/jquery-3.1.1.min.js"></script>
    <title>Mutual Help</title>
</head>
<style>
    body {
        background-image: url("../../Content/Images/entertainment.jpg");
        position: relative;
        background-color: white;
        background-size: cover;
    }
</style>
<body>
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "profile_div" }))
        {
            @Html.AntiForgeryToken()
            <div id="profile_div">
                <ul class="profile-wrapper">
                    <li>
                        <div class="profile">
                            @Html.ActionLink(User.Identity.GetUserName(), "Index", "Home", new { area = "" }, new { @class = "name" })
                            <ul class="menu">
                                @if (User.IsInRole("Admin"))
                                {
                                    <li>
                                        <a id="page_settings" href="#">Admin Functionalities</a>
                                        <div class="horizontal_menu">
                                            <ul>
                                                <li>@Html.ActionLink("Edit Users", "EditUsers", "User", null, htmlAttributes: new { id = "editUsersLink" })</li>
                                                <li>@Html.ActionLink("Edit Posts", "EditPosts", "User", null, new { area = "", value = "editPostsLink" })</li>
                                                <li>@Html.ActionLink("Edit Events", "EditEvents", "User", null, htmlAttributes: new { id = "editEventsLink" })</li>
                                            </ul>
                                        </div>
                                    </li>
                                }
                                <li>
                                    <a id="page_settings" href="#">My Profile</a>
                                    <div class="horizontal_menu">
                                        <ul>
                                            <li class="navLi">@Html.ActionLink("Create New Post", "Create", "Post", null, new { area = "" })</li>
                                            <li class="navLi">@Html.ActionLink("Create New Event", "Create", "Event", null, new { area = "" })</li>
                                            <li class="navLi">@Html.ActionLink("Events", "List", "Event", null, new { area = "" })</li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a id="page_settings" href="#">Settings</a>
                                    <div class="horizontal_menu" hidden>
                                        <ul>
                                            <li>@Html.ActionLink("Change Password", "ChangePassword", "Manage", null, new { area = "" })</li>
                                            <li>@Html.ActionLink("Change Username", "Change Username", "Manage", new { area = "" })</li>
                                        </ul>
                                    </div>
                                </li>
                                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                                {
                                    <li><a href="javascript:document.getElementById('profile_div').submit()">Log Off</a></li>
                                }
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div id="navMyProfile">
                <ul class="navUL">
                    <li class="navLi"><a href="createnewpost.html">Create New Post</a></li>
                    <li class="navLi">@Html.ActionLink("Create New Event", "Create", "Event", new { area = "" })</li>
                    <li class="navLi">@Html.ActionLink("Events", "List", "Event", null, new { area = "" })</li>
                </ul>
            </div>
        }
    }
    else
    {
        <div id="profile_div">
            <ul class="profile-wrapper">
                <li>
                    <div class="profile">
                        <a href="#" class="name">Register/Login</a>
                        <ul class="menu">
                            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            <li>@Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    }

    @using (Html.BeginForm("List", "Event", FormMethod.Post))
    {
        <div class="article_containter">
            @foreach (var item in Model)
            {

                <article>
                    <div class="row">
                        <h2>@item.Title</h2>
                        <small class="author">@item.Author.Name</small>
                        <div class="article_position" style="color: black">
                            @item.Content
                        </div>
                        <footer>
                            @if (User.IsInRole("Admin") || User.Identity.Name.Equals(item.AuthorEmail))
                            {
                                @Html.ActionLink("Options", "Options", "Post", new { @id = item.Id }, new { @type = "button", @class = "submitButtons" })
                            }
                        </footer>
                    </div>
                </article>
            }
        </div>

    }

    </div>
    <footer>
        <div class="the_footer">
            <h3>© 2016 - SocialMegazord inc.</h3>
        </div>
    </footer>
    <div id="contents">
        @Html.ActionLink(" ", "Entertainment", "Comunities", null, new { @id = "button1", @class = "button button1" })
        @Html.ActionLink(" ", "Science", "Comunities", null, new { @id = "button3", @class = "button button3" })
        @Html.ActionLink(" ", "MutualHelp", "Comunities", null, new { @id = "button2", @class = "button button2" })
    </div>

    <script src="scripts/backgroundChange.js"></script>
</body>

</html>
